name: Go CI
on:
  push:
  pull_request:
jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Install Nix
        uses: cachix/install-nix-action@v27
        with:
          nix_path: nixpkgs=channel:nixos-unstable
          extra_nix_config: |
            access-tokens = github.com=${{ secrets.GITHUB_TOKEN }}
            experimental-features = nix-command flakes

      - name: Build
        run: cd wails-app && nix develop --command make build

      - name: Format Codebase
        run: cd wails-app && nix develop --command make fmt

      - name: Format Check
        run: cd wails-app && nix develop --command bash -c 'gofmt -l . && cd frontend && bun run format-check'

      - name: Run Lint
        run: cd && wails-app nix develop --command make lint
